/* General styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(215, 222, 230)white;
    overflow-x: hidden;
    
}


#modalVideo {
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
}



#nav-profile{
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    max-width: 100%; 
    height: auto; 
    padding: 20px;
}





.pyimages p {
    text-decoration: underline;
    font-weight: bold;
}

#nav-home-tab{
    background-color: rgb(120, 161, 198);
    color: white;
}

#nav-profile-tab{
    background-color: rgb(120, 161, 198);
    color: white;
}


#nav-home-tab.active {
    background-color: rgb(14, 94, 163);
    color: white;
}

#nav-home-tab:hover {
    background-color: rgb(14, 94, 163);
    color: white;
}

#nav-profile-tab.active {
    background-color: rgb(14, 94, 163);
    color: white;
}

#nav-profile-tab:hover {
    background-color: rgb(14, 94, 163);
    color: white;
}


.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.jumbopic {
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    max-width: 100%; 
    height: auto; 
    max-height:180px; 
}
.p-logo {
    color: #ffffff; 
    background-color: #438ecd; 
    text-decoration: none; 
    font-size: 25px; 
    font-weight: bold; 
    padding: 10px; 
    border-radius: 5px;
    display: inline-block; 
    max-height: 50px;
    line-height: 50px; 
    box-sizing: border-box; 
    width: 100%;
}


#content {
    flex: 1;
    align-items: stretch;
    width: 100%;
    justify-content: center;
}

.wrapper {
    display: flex;
    align-items: stretch;
    width: 100%;
    overflow-x: hidden;
    width: 100%;
}

#sidebar .list-unstyled.components li a:hover {
    color: white; 
    background-color: rgb(82, 81, 81);
    text-decoration: none;
    border-radius: 7px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

#sidebar ul.components li a[data-toggle="collapse"]::after {
    float: right; 
    margin-left: 5px; 
}

.dropdown-toggle::after {
    right: 5px; 
}


#sidebar {
    background-color: rgb(55, 55, 55); 
    color: #fff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    border-radius: 10px;
    
}






#sidebar ul.components li a {
    text-decoration: none;
}

#sidebar h1.logo {
    margin-bottom: 20px;
    font-size: 24px;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul.components li a {
    color: #ced4da; 
}

/* Navbar styles */
.navbar-brand,
.navbar-nav .nav-link {
    color: #fff; 
}

.navbar-brand:hover,
.navbar-nav .nav-link:hover {
    color: #ced4da; 
}

/* Card styles */
.cards {
    background-color: #fff; /* White cards */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    padding: 20px;
    margin-bottom: 30px;
}

.cards-header {
    background-color: #007bff; /* Blue header */
    color: #fff; 
    padding: 10px 20px;
    border-radius: 5px 5px 0 0;
}

.cards-content {
    margin-top: 20px;
    color: #333; 
}

.cards-footer {
    text-align: right;
}

/* Jumbotron styles */
.jumbotron {
    background-color: #007bff; 
    color: #fff; 
    border-radius: 10px;
    padding: 40px;
    margin-bottom: 30px;
}

/* About menu styles */
.about-menu a {
    color: #007bff; 
}

.about-menu a:hover {
    color: #0056b3; 
}

/* Logo styles */
.logo1 {
    height: 90px; 
    width: auto; 
    text-align: center;
}

 /* FOR THE PAGE 2s */

 .introtext {
    color: black;
 }

 li:hover {
    color: #438ecd;;
 }

.accordion-flask {
    border-radius: 15px;
    width: 15%;
    border: 1px solid black;
    margin: 15px;
}

.accordion-todo {
    border-radius: 15px;
    width: 70%;
    border: 1px solid black;
    margin: 15px;
}

.accordion-hang {
    border-radius: 15px;
    width: 25%;
    border: 1px solid black;
    margin: 15px;
}


.accordion-calc {
    border-radius: 15px;
    width: 22%;
    border: 1px solid black;
    margin: 15px;
}
